@page
@model LayoutTemplateWebApp.Pages.AdminSAMA.ListaAdminModel
@{

    var userRole = @Model.role;
    Layout = userRole == "2569" ? "_AdminLayout" : "_ErrorLayout";

    if (userRole != "2569") Response.Redirect("/ErrorPage");
}


<section class="container px-5 py-3">
    <h3 style="margin-bottom: 2rem;">Lista de Administradores</h3>
    <table class="table" aria-label="Tabla de nombres de personas">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.PersonList != null && Model.PersonList.Any())
            {
                foreach (var person in Model.PersonList)
                {
                    <tr>
                        <td>@person.PersonName</td>
                        <td>@person.FirstLastName</td>
                        <td>@person.Email</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="2">No persons found.</td>
                </tr>
            }
        </tbody>
    </table>
</section>
