@page
@model LayoutTemplateWebApp.Pages.AdminSAMA.ListaMentorModel
@{

    var userRole = @Model.role;
    Layout = userRole == "2569" ? "_AdminLayout" : "_ErrorLayout";

    if (userRole != "2569") Response.Redirect("/ErrorPage");
}

<!DOCTYPE html>
<html lang="en">

<body>

    

</body>

</html>

