@page
@model LayoutTemplateWebApp.Pages.AhijadoSAMA.IndexModel
@{
    Layout = "_AhijadoLayout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LayoutTemplateWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LayoutTemplateWebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="contenedor">
        <div class="header">
            <h1 class="Titulo">¡Bienvenido al sistema de Asignación Mentor-Ahijado!</h1>
            <h6 class="textoMentor">Su mentor es:</h6>
        </div>
        <div class="card" style="width: 304px; height:524px;">
            <div class="card-body">
                <h5 class="card-title">Nombre: @HttpContext.Session.GetString("name")@HttpContext.Session.GetString("LastName")@HttpContext.Session.GetString("LastName2")</h5>
                <h5 class="card-title">Residencia</h5>
                <h5 class="card-title">Carrera</h5>
                <h5 class="card-title">Gustos</h5>
                <h5 class="card-title">Contacto</h5>
            </div>
        </div>
    </div>
</body>
</html>
