.card {
    position:absolute;
    align-items: baseline;
    margin-left: 404px;
    margin-top: 95px;
    background-color: var(--colorMainTrans);

}
.card-body{
    margin-top: 32px;
}
.card.body.h5{
    margin-top: 32 px;

}
.header{
   position: absolute;
   align-items: center;
}
.body{
}
.contenedor{
    display:inline-block;
    margin-left:10px;
}

.xy-center {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-container {
    display: flex;
    height: 100%;
}